@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #00607A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-cadastro {
 background-color: #FFFFFF;
 padding: 40px 30px;
 border-radius: 16px;
 width: 400px;
 text-align: center;
}

.area-cadastro h2 {
  margin-top: 0;
  margin-bottom: 25px;
  color: #333;
}

.campo-input {
 width: 100%;
 padding: 12px 15px;
 margin-bottom: 15px;
 border: 1px solid #D1D1D1;
 border-radius: 8px; 
 font-size: 1em;
 box-sizing: border-box;
}

.botao-submit {
 width: 100%;
 padding: 12px 15px;
 background-color: #00607A; 
 color: white;
 border: none;
 border-radius: 8px;
 cursor: pointer;
 font-size: 1.1em;
 font-weight: 700;
 margin-top: 10px;
}


.link-login {
 display: block;
 margin-top: 20px;
 color: #555;
 text-decoration: none;
 font-size: 0.9em;
}

#mensagem {
 margin-top: 15px;
 font-weight: bold;
}